[Unit]
Description=webapp
Documentation=https://github.com/CSYE-6225-FALL23/webapp
After=network.target

[Service]
Type=simple
User=csye6225
Environment=NODE_ENV=prod
EnvironmentFile=/opt/.env.prod
ExecStartPre=/bin/bash -c 'while ! test -f /var/lib/cloud/instance/scripts/part-001; do sleep 1; done'
ExecStart=/usr/bin/node /var/www/webapp/server/index.js
Restart=always

[Install]
WantedBy=multi-user.target